<section id="quizz-container">
  <div class="quizz-logo">
    <img src="/assets/imgs/logo.png" alt="" />
    <h3>{{ title }}</h3>
  </div>

  <article class="content">
  <div *ngIf=!finished class="quizz-questions">
    <h3> {{ questionSelected.question }} </h3>
  </div>

  <div *ngIf=!finished class="quizz-options">
    <button 
    *ngFor="let option of questionSelected.options"
    (click)="playerChoose(option.alias)"
    class="btn-option"
     > 
     {{ option.name }}
    </button>
  </div>
</article>

  <div *ngIf=finished class="quizz-results">
    <h1>O seu resultado é:</h1>
    <p> {{ answerSelected }}} </p>
  </div>
</section>
